    <body>
    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav">

            <a href="#0" class="header-nav__close" title="close"><span>Cerrar</span></a>

            <div class="header-nav__content">
                <h3>Menu</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a href="/" title="inicio">inicio</a></li>
                    <li><a href="nosotros" title="nosotros">Impulse</a></li>
                    <li><a href="catalogo" title="catalogo">Catalogo</a></li>
                    <li><a href="empresas" title="empresas">Empresas</a></li>
                    <li><a href="contactanos" title="contactanos">Contactanos </a></li>
                </ul>
    
                <p id="textoInf"></p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </li>
                </ul>
                <li><a id="lgText" href="iniciar-sesion" title="iniciar sesion">Iniciar Session</a></li>
                <li><a id="Registrarse" onclick="cerrarUregistrar()" title="iniciar sesion">Registrarse</a></li>
            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#0">
            <span class="header-menu-text">Menu</span>
            <span class="header-menu-icon"></span>
        </a>
        <script>
            var session = document.getElementById('lgText');
            var registrarse = document.getElementById('Registrarse');
            var info = document.getElementById('textoInf');

            //validamos si existe una session iniciada
            if (localStorage.getItem('user') || localStorage.getItem('password')) {
                console.log('existe');
                session.textContent ="Ingresar a Inventario";
                registrarse.textContent = "Cerrar Session";
                info.textContent = `${localStorage.getItem('categoria')} ${localStorage.getItem('empresa')} de ${localStorage.getItem('propietario')} - ${localStorage.getItem('description')}`
            }else{
                console.log('no existe');
                info.textContent = "IMPULSE es una empresa de impulso hacia negocios unete a nosotros e impulsa tu negocio a otro nivel. Con publicidad y mentoria gratuita"
            }
            function cerrarUregistrar() {
                if (localStorage.getItem('user') || localStorage.getItem('password')) {
                    localStorage.removeItem('user');
                    localStorage.removeItem('password');
                    window.location.href = '/'; 
                }else{
                    window.location.href = 'registrarse'; 
                }
            }
            
             
             
        </script>
    </header> <!-- end s-header -->
