
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Impulse | Catalogo</title>
     <!--- basic page needs
    ================================================== -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('Componentes/Links.html'); %>
</head>
<body>
    <%- include('Componentes/Nav.html'); %>

    <div class="contenedor">
        <div class="welcome">
            <h1>Reserva tu espacio YA!</h1>
        </div>
        <div class="titulo_uno">
            <h1>Ocupa los espacios de venta!</h1>
        </div>
        <div class="compra">
            <a href="/nosotros"><button>Mas Informacion</button></a>
        </div>
    </div>

    <%- include('Componentes/Js.html'); %>
</body>
</html>