<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Impulse | Registrarse</title>
     <!--- basic page needs
    ================================================== -->
    <meta name="description" content="">
    <meta name="author" content="">
    <%- include('Componentes/Links.html'); %>
</head>
<body>
    <%- include('Componentes/Nav.html'); %>

    <div class="contenedor">
        <div class="welcome">
            <form action="" method="post">
                <Label>Nombre</Label>
            </form>
        </div>
    </div>

    <%- include('Componentes/Js.html'); %>
</body>
</html>